:root {
  --dark-brown: #4A2E2C;
  --medium-brown: #6F513A;
  --light-brown: #916A53;
  --soft-cream: #FFFCD4;
  --warm-beige: #FFF0BF;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--soft-cream);
  color: var(--dark-brown);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: auto;
}

.containerHome{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

i.fab {
  margin-left: 5px;
  font-size: 15px;
}

a:hover i.fab {
  color: var(--medium-brown);
}

/* Hero Section */
#Hero-Section {
  background-image: url("/cafe_grano.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin: 0;
  padding-right: 150px;
}

/* Button Styles */
.btn-brown {
  background-color: var(--medium-brown);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn-brown:hover {
  background-color: var(--dark-brown);
}

.btn-outline-brown {
  border: 2px solid var(--medium-brown);
  color: var(--medium-brown);
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn-outline-brown:hover {
  background-color: var(--medium-brown);
  color: white;
}